
Training material/Intro to cold atom system.pptx
Training material/Intro to cold atom system_part1.pptx
NewSequencer/sqncr (ran.finkelstein@weizmann.ac.il).m
NewSequencer/sqncrTest (ran.finkelstein@weizmann.ac.il).m
NewSequencer/initinst (ran.finkelstein@weizmann.ac.il).m
NewSequencer/initp (ran.finkelstein@weizmann.ac.il).m
NewSequencer/initr (ran.finkelstein@weizmann.ac.il).m
Code/processingFunctions/seqLog_csv_24__OD vs zeemanPump and zeemanRepump power with zeeman pump off resonant.mat
Code/processingFunctions/g2Processing/tt_050519_02__no exp name.bin
Code/processingFunctions/g2Processing/tt_050519_03__no exp name.bin
Code/processingFunctions/g2Processing/tt_160519_04__no exp name.bin
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph666300_phPerCyc3068_bunch1-1of300.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph666300_phPerCyc3068_bunch1-1of300.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph27078_phPerCyc39972_bunch1-1of101.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph27078_phPerCyc39972_bunch1-1of101.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph2221_phPerCyc3068_bunch1-1of1.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph2221_phPerCyc3068_bunch1-1of1.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph0_phPerCyc3068_bunch1-1of300.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph0_phPerCyc3068_bunch1-1of300.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph0_phPerCyc3068_bunch1-1of1.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph0_phPerCyc3068_bunch1-1of1.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse2_Tfpulse9_Nph377552_phPerCyc1880_bunch1-1of500.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse2_Tfpulse9_Nph377552_phPerCyc1880_bunch1-1of500.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse1_Tfpulse9_Nph431106_phPerCyc1880_bunch1-1of500.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse1_Tfpulse9_Nph431106_phPerCyc1880_bunch1-1of500.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse1_Tfpulse9_Nph0_phPerCyc1880_bunch1-1of499.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse1_Tfpulse9_Nph0_phPerCyc1880_bunch1-1of499.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse1_Tfpulse10_Nph850200_phPerCyc3068_bunch1-1of300.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse1_Tfpulse10_Nph850200_phPerCyc3068_bunch1-1of300.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse1_Tfpulse10_Nph805813_phPerCyc3350_bunch1-1of300.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse1_Tfpulse10_Nph805813_phPerCyc3350_bunch1-1of300.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse1_Tfpulse100_Nph864600_phPerCyc3068_bunch1-1of300.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau1_Tipulse1_Tfpulse100_Nph864600_phPerCyc3068_bunch1-1of300.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau0.1_Tipulse3_Tfpulse17_Nph2871_phPerCyc4008_bunch1-1of200.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau0.1_Tipulse3_Tfpulse17_Nph2871_phPerCyc4008_bunch1-1of200.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau0.1_Tipulse3_Tfpulse17_Nph27952_phPerCyc40015_bunch1-1of200.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau0.1_Tipulse3_Tfpulse17_Nph27952_phPerCyc40015_bunch1-1of200.fig
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau0.1_Tipulse3_Tfpulse17_Nph0_phPerCyc1782_bunch1-1of200.mat
Code/processingFunctions/g2Processing/test/g2_test_bin0.02_tau0.1_Tipulse3_Tfpulse17_Nph0_phPerCyc1782_bunch1-1of200.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph666300_phPerCyc3068_bunch1-1of300.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph27078_phPerCyc39972_bunch1-1of101.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph2221_phPerCyc3068_bunch1-1of1.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph0_phPerCyc3068_bunch1-1of300.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse3_Tfpulse17_Nph0_phPerCyc3068_bunch1-1of1.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse2_Tfpulse9_Nph377552_phPerCyc1880_bunch1-1of500.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse1_Tfpulse9_Nph431106_phPerCyc1880_bunch1-1of500.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse1_Tfpulse9_Nph0_phPerCyc1880_bunch1-1of499.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse1_Tfpulse10_Nph850200_phPerCyc3068_bunch1-1of300.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse1_Tfpulse10_Nph805813_phPerCyc3350_bunch1-1of300.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau1_Tipulse1_Tfpulse100_Nph864600_phPerCyc3068_bunch1-1of300.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau0.1_Tipulse3_Tfpulse17_Nph2871_phPerCyc4008_bunch1-1of200.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau0.1_Tipulse3_Tfpulse17_Nph27952_phPerCyc40015_bunch1-1of200.fig
Code/processingFunctions/g2Processing/test/g2_t1_t2_test_bin0.02_tau0.1_Tipulse3_Tfpulse17_Nph0_phPerCyc1782_bunch1-1of200.fig
Code/processingFunctions/g2Processing/shiftTimeStampsToGateStart (lee.drori@weizmann.ac.il).m
Code/processingFunctions/g2Processing/profile_results/file99.html
Code/processingFunctions/g2Processing/profile_results/file98.html
Code/processingFunctions/g2Processing/profile_results/file97.html
Code/processingFunctions/g2Processing/profile_results/file96.html
Code/processingFunctions/g2Processing/profile_results/file95.html
Code/processingFunctions/g2Processing/profile_results/file94.html
Code/processingFunctions/g2Processing/profile_results/file93.html
Code/processingFunctions/g2Processing/profile_results/file92.html
Code/processingFunctions/g2Processing/profile_results/file91.html
Code/processingFunctions/g2Processing/profile_results/file90.html
Code/processingFunctions/g2Processing/profile_results/file9.html
Code/processingFunctions/g2Processing/profile_results/file89.html
Code/processingFunctions/g2Processing/profile_results/file88.html
Code/processingFunctions/g2Processing/profile_results/file87.html
Code/processingFunctions/g2Processing/profile_results/file86.html
Code/processingFunctions/g2Processing/profile_results/file85.html
Code/processingFunctions/g2Processing/profile_results/file84.html
Code/processingFunctions/g2Processing/profile_results/file83.html
Code/processingFunctions/g2Processing/profile_results/file82.html
Code/processingFunctions/g2Processing/profile_results/file81.html
Code/processingFunctions/g2Processing/profile_results/file80.html
Code/processingFunctions/g2Processing/profile_results/file8.html
Code/processingFunctions/g2Processing/profile_results/file79.html
Code/processingFunctions/g2Processing/profile_results/file78.html
Code/processingFunctions/g2Processing/profile_results/file77.html
Code/processingFunctions/g2Processing/profile_results/file76.html
Code/processingFunctions/g2Processing/profile_results/file75.html
Code/processingFunctions/g2Processing/profile_results/file74.html
Code/processingFunctions/g2Processing/profile_results/file73.html
Code/processingFunctions/g2Processing/profile_results/file72.html
Code/processingFunctions/g2Processing/profile_results/file71.html
Code/processingFunctions/g2Processing/profile_results/file70.html
Code/processingFunctions/g2Processing/profile_results/file7.html
Code/processingFunctions/g2Processing/profile_results/file69.html
Code/processingFunctions/g2Processing/profile_results/file68.html
Code/processingFunctions/g2Processing/profile_results/file67.html
Code/processingFunctions/g2Processing/profile_results/file66.html
Code/processingFunctions/g2Processing/profile_results/file65.html
Code/processingFunctions/g2Processing/profile_results/file64.html
Code/processingFunctions/g2Processing/profile_results/file63.html
Code/processingFunctions/g2Processing/profile_results/file62.html
Code/processingFunctions/g2Processing/profile_results/file61.html
Code/processingFunctions/g2Processing/profile_results/file60.html
Code/processingFunctions/g2Processing/profile_results/file6.html
Code/processingFunctions/g2Processing/profile_results/file59.html
Code/processingFunctions/g2Processing/profile_results/file58.html
Code/processingFunctions/g2Processing/profile_results/file57.html
Code/processingFunctions/g2Processing/profile_results/file56.html
Code/processingFunctions/g2Processing/profile_results/file55.html
Code/processingFunctions/g2Processing/profile_results/file54.html
Code/processingFunctions/g2Processing/profile_results/file53.html
Code/processingFunctions/g2Processing/profile_results/file52.html
Code/processingFunctions/g2Processing/profile_results/file51.html
Code/processingFunctions/g2Processing/profile_results/file50.html
Code/processingFunctions/g2Processing/profile_results/file5.html
Code/processingFunctions/g2Processing/profile_results/file49.html
Code/processingFunctions/g2Processing/profile_results/file48.html
Code/processingFunctions/g2Processing/profile_results/file47.html
Code/processingFunctions/g2Processing/profile_results/file46.html
Code/processingFunctions/g2Processing/profile_results/file45.html
Code/processingFunctions/g2Processing/profile_results/file44.html
Code/processingFunctions/g2Processing/profile_results/file43.html
Code/processingFunctions/g2Processing/profile_results/file42.html
Code/processingFunctions/g2Processing/profile_results/file41.html
Code/processingFunctions/g2Processing/profile_results/file40.html
Code/processingFunctions/g2Processing/profile_results/file4.html
Code/processingFunctions/g2Processing/profile_results/file39.html
Code/processingFunctions/g2Processing/profile_results/file38.html
Code/processingFunctions/g2Processing/profile_results/file37.html
Code/processingFunctions/g2Processing/profile_results/file36.html
Code/processingFunctions/g2Processing/profile_results/file35.html
Code/processingFunctions/g2Processing/profile_results/file34.html
Code/processingFunctions/g2Processing/profile_results/file33.html
Code/processingFunctions/g2Processing/profile_results/file32.html
Code/processingFunctions/g2Processing/profile_results/file31.html
Code/processingFunctions/g2Processing/profile_results/file30.html
Code/processingFunctions/g2Processing/profile_results/file3.html
Code/processingFunctions/g2Processing/profile_results/file29.html
Code/processingFunctions/g2Processing/profile_results/file280.html
Code/processingFunctions/g2Processing/profile_results/file28.html
Code/processingFunctions/g2Processing/profile_results/file279.html
Code/processingFunctions/g2Processing/profile_results/file278.html
Code/processingFunctions/g2Processing/profile_results/file277.html
Code/processingFunctions/g2Processing/profile_results/file276.html
Code/processingFunctions/g2Processing/profile_results/file275.html
Code/processingFunctions/g2Processing/profile_results/file274.html
Code/processingFunctions/g2Processing/profile_results/file273.html
Code/processingFunctions/g2Processing/profile_results/file272.html
Code/processingFunctions/g2Processing/profile_results/file271.html
Code/processingFunctions/g2Processing/profile_results/file270.html
Code/processingFunctions/g2Processing/profile_results/file27.html
Code/processingFunctions/g2Processing/profile_results/file269.html
Code/processingFunctions/g2Processing/profile_results/file268.html
Code/processingFunctions/g2Processing/profile_results/file267.html
Code/processingFunctions/g2Processing/profile_results/file266.html
Code/processingFunctions/g2Processing/profile_results/file265.html
Code/processingFunctions/g2Processing/profile_results/file264.html
Code/processingFunctions/g2Processing/profile_results/file263.html
Code/processingFunctions/g2Processing/profile_results/file262.html
Code/processingFunctions/g2Processing/profile_results/file261.html
Code/processingFunctions/g2Processing/profile_results/file260.html
Code/processingFunctions/g2Processing/profile_results/file26.html
Code/processingFunctions/g2Processing/profile_results/file259.html
Code/processingFunctions/g2Processing/profile_results/file258.html
Code/processingFunctions/g2Processing/profile_results/file257.html
Code/processingFunctions/g2Processing/profile_results/file256.html
Code/processingFunctions/g2Processing/profile_results/file255.html
Code/processingFunctions/g2Processing/profile_results/file254.html
Code/processingFunctions/g2Processing/profile_results/file253.html
Code/processingFunctions/g2Processing/profile_results/file252.html
Code/processingFunctions/g2Processing/profile_results/file251.html
Code/processingFunctions/g2Processing/profile_results/file250.html
Code/processingFunctions/g2Processing/profile_results/file25.html
Code/processingFunctions/g2Processing/profile_results/file249.html
Code/processingFunctions/g2Processing/profile_results/file248.html
Code/processingFunctions/g2Processing/profile_results/file247.html
Code/processingFunctions/g2Processing/profile_results/file246.html
Code/processingFunctions/g2Processing/profile_results/file245.html
Code/processingFunctions/g2Processing/profile_results/file244.html
Code/processingFunctions/g2Processing/profile_results/file243.html
Code/processingFunctions/g2Processing/profile_results/file242.html
Code/processingFunctions/g2Processing/profile_results/file241.html
Code/processingFunctions/g2Processing/profile_results/file240.html
Code/processingFunctions/g2Processing/profile_results/file24.html
Code/processingFunctions/g2Processing/profile_results/file239.html
Code/processingFunctions/g2Processing/profile_results/file238.html
Code/processingFunctions/g2Processing/profile_results/file237.html
Code/processingFunctions/g2Processing/profile_results/file236.html
Code/processingFunctions/g2Processing/profile_results/file235.html
Code/processingFunctions/g2Processing/profile_results/file234.html
Code/processingFunctions/g2Processing/profile_results/file233.html
Code/processingFunctions/g2Processing/profile_results/file232.html
Code/processingFunctions/g2Processing/profile_results/file231.html
Code/processingFunctions/g2Processing/profile_results/file230.html
Code/processingFunctions/g2Processing/profile_results/file23.html
Code/processingFunctions/g2Processing/profile_results/file229.html
Code/processingFunctions/g2Processing/profile_results/file228.html
Code/processingFunctions/g2Processing/profile_results/file227.html
Code/processingFunctions/g2Processing/profile_results/file226.html
Code/processingFunctions/g2Processing/profile_results/file225.html
Code/processingFunctions/g2Processing/profile_results/file224.html
Code/processingFunctions/g2Processing/profile_results/file223.html
Code/processingFunctions/g2Processing/profile_results/file222.html
Code/processingFunctions/g2Processing/profile_results/file221.html
Code/processingFunctions/g2Processing/profile_results/file220.html
Code/processingFunctions/g2Processing/profile_results/file22.html
Code/processingFunctions/g2Processing/profile_results/file219.html
Code/processingFunctions/g2Processing/profile_results/file218.html
Code/processingFunctions/g2Processing/profile_results/file217.html
Code/processingFunctions/g2Processing/profile_results/file216.html
Code/processingFunctions/g2Processing/profile_results/file215.html
Code/processingFunctions/g2Processing/profile_results/file214.html
Code/processingFunctions/g2Processing/profile_results/file213.html
Code/processingFunctions/g2Processing/profile_results/file212.html
Code/processingFunctions/g2Processing/profile_results/file211.html
Code/processingFunctions/g2Processing/profile_results/file210.html
Code/processingFunctions/g2Processing/profile_results/file21.html
Code/processingFunctions/g2Processing/profile_results/file209.html
Code/processingFunctions/g2Processing/profile_results/file208.html
Code/processingFunctions/g2Processing/profile_results/file207.html
Code/processingFunctions/g2Processing/profile_results/file206.html
Code/processingFunctions/g2Processing/profile_results/file205.html
Code/processingFunctions/g2Processing/profile_results/file204.html
Code/processingFunctions/g2Processing/profile_results/file203.html
Code/processingFunctions/g2Processing/profile_results/file202.html
Code/processingFunctions/g2Processing/profile_results/file201.html
Code/processingFunctions/g2Processing/profile_results/file200.html
Code/processingFunctions/g2Processing/profile_results/file20.html
Code/processingFunctions/g2Processing/profile_results/file2.html
Code/processingFunctions/g2Processing/profile_results/file199.html
Code/processingFunctions/g2Processing/profile_results/file198.html
Code/processingFunctions/g2Processing/profile_results/file197.html
Code/processingFunctions/g2Processing/profile_results/file196.html
Code/processingFunctions/g2Processing/profile_results/file195.html
Code/processingFunctions/g2Processing/profile_results/file194.html
Code/processingFunctions/g2Processing/profile_results/file193.html
Code/processingFunctions/g2Processing/profile_results/file192.html
Code/processingFunctions/g2Processing/profile_results/file191.html
Code/processingFunctions/g2Processing/profile_results/file190.html
Code/processingFunctions/g2Processing/profile_results/file19.html
Code/processingFunctions/g2Processing/profile_results/file189.html
Code/processingFunctions/g2Processing/profile_results/file188.html
Code/processingFunctions/g2Processing/profile_results/file187.html
Code/processingFunctions/g2Processing/profile_results/file186.html
Code/processingFunctions/g2Processing/profile_results/file185.html
Code/processingFunctions/g2Processing/profile_results/file184.html
Code/processingFunctions/g2Processing/profile_results/file183.html
Code/processingFunctions/g2Processing/profile_results/file182.html
Code/processingFunctions/g2Processing/profile_results/file181.html
Code/processingFunctions/g2Processing/profile_results/file180.html
Code/processingFunctions/g2Processing/profile_results/file18.html
Code/processingFunctions/g2Processing/profile_results/file179.html
Code/processingFunctions/g2Processing/profile_results/file178.html
Code/processingFunctions/g2Processing/profile_results/file177.html
Code/processingFunctions/g2Processing/profile_results/file176.html
Code/processingFunctions/g2Processing/profile_results/file175.html
Code/processingFunctions/g2Processing/profile_results/file174.html
Code/processingFunctions/g2Processing/profile_results/file173.html
Code/processingFunctions/g2Processing/profile_results/file172.html
Code/processingFunctions/g2Processing/profile_results/file171.html
Code/processingFunctions/g2Processing/profile_results/file170.html
Code/processingFunctions/g2Processing/profile_results/file17.html
Code/processingFunctions/g2Processing/profile_results/file169.html
Code/processingFunctions/g2Processing/profile_results/file168.html
Code/processingFunctions/g2Processing/profile_results/file167.html
Code/processingFunctions/g2Processing/profile_results/file166.html
Code/processingFunctions/g2Processing/profile_results/file165.html
Code/processingFunctions/g2Processing/profile_results/file164.html
Code/processingFunctions/g2Processing/profile_results/file163.html
Code/processingFunctions/g2Processing/profile_results/file162.html
Code/processingFunctions/g2Processing/profile_results/file161.html
Code/processingFunctions/g2Processing/profile_results/file160.html
Code/processingFunctions/g2Processing/profile_results/file16.html
Code/processingFunctions/g2Processing/profile_results/file159.html
Code/processingFunctions/g2Processing/profile_results/file158.html
Code/processingFunctions/g2Processing/profile_results/file157.html
Code/processingFunctions/g2Processing/profile_results/file156.html
Code/processingFunctions/g2Processing/profile_results/file155.html
Code/processingFunctions/g2Processing/profile_results/file154.html
Code/processingFunctions/g2Processing/profile_results/file153.html
Code/processingFunctions/g2Processing/profile_results/file152.html
Code/processingFunctions/g2Processing/profile_results/file151.html
Code/processingFunctions/g2Processing/profile_results/file150.html
Code/processingFunctions/g2Processing/profile_results/file15.html
Code/processingFunctions/g2Processing/profile_results/file149.html
Code/processingFunctions/g2Processing/profile_results/file148.html
Code/processingFunctions/g2Processing/profile_results/file147.html
Code/processingFunctions/g2Processing/profile_results/file146.html
Code/processingFunctions/g2Processing/profile_results/file145.html
Code/processingFunctions/g2Processing/profile_results/file144.html
Code/processingFunctions/g2Processing/profile_results/file143.html
Code/processingFunctions/g2Processing/profile_results/file142.html
Code/processingFunctions/g2Processing/profile_results/file141.html
Code/processingFunctions/g2Processing/profile_results/file140.html
Code/processingFunctions/g2Processing/profile_results/file14.html
Code/processingFunctions/g2Processing/profile_results/file139.html
Code/processingFunctions/g2Processing/profile_results/file138.html
Code/processingFunctions/g2Processing/profile_results/file137.html
Code/processingFunctions/g2Processing/profile_results/file136.html
Code/processingFunctions/g2Processing/profile_results/file135.html
Code/processingFunctions/g2Processing/profile_results/file134.html
Code/processingFunctions/g2Processing/profile_results/file133.html
Code/processingFunctions/g2Processing/profile_results/file132.html
Code/processingFunctions/g2Processing/profile_results/file131.html
Code/processingFunctions/g2Processing/profile_results/file130.html
Code/processingFunctions/g2Processing/profile_results/file13.html
Code/processingFunctions/g2Processing/profile_results/file129.html
Code/processingFunctions/g2Processing/profile_results/file128.html
Code/processingFunctions/g2Processing/profile_results/file127.html
Code/processingFunctions/g2Processing/profile_results/file126.html
Code/processingFunctions/g2Processing/profile_results/file125.html
Code/processingFunctions/g2Processing/profile_results/file124.html
Code/processingFunctions/g2Processing/profile_results/file123.html
Code/processingFunctions/g2Processing/profile_results/file122.html
Code/processingFunctions/g2Processing/profile_results/file121.html
Code/processingFunctions/g2Processing/profile_results/file120.html
Code/processingFunctions/g2Processing/profile_results/file12.html
Code/processingFunctions/g2Processing/profile_results/file119.html
Code/processingFunctions/g2Processing/profile_results/file118.html
Code/processingFunctions/g2Processing/profile_results/file117.html
Code/processingFunctions/g2Processing/profile_results/file116.html
Code/processingFunctions/g2Processing/profile_results/file115.html
Code/processingFunctions/g2Processing/profile_results/file114.html
Code/processingFunctions/g2Processing/profile_results/file113.html
Code/processingFunctions/g2Processing/profile_results/file112.html
Code/processingFunctions/g2Processing/profile_results/file111.html
Code/processingFunctions/g2Processing/profile_results/file110.html
Code/processingFunctions/g2Processing/profile_results/file11.html
Code/processingFunctions/g2Processing/profile_results/file109.html
Code/processingFunctions/g2Processing/profile_results/file108.html
Code/processingFunctions/g2Processing/profile_results/file107.html
Code/processingFunctions/g2Processing/profile_results/file106.html
Code/processingFunctions/g2Processing/profile_results/file105.html
Code/processingFunctions/g2Processing/profile_results/file104.html
Code/processingFunctions/g2Processing/profile_results/file103.html
Code/processingFunctions/g2Processing/profile_results/file102.html
Code/processingFunctions/g2Processing/profile_results/file101.html
Code/processingFunctions/g2Processing/profile_results/file100.html
Code/processingFunctions/g2Processing/profile_results/file10.html
Code/processingFunctions/g2Processing/profile_results/file1.html
Code/processingFunctions/g2Processing/profile_results/file0.html
Code/processingFunctions/g2Processing/process_WIS_v1 (gal.winer@weizmann.ac.il).m
Code/processingFunctions/g2Processing/process_WIS_25_09_19_forTesting.m
Code/processingFunctions/g2Processing/extenedCycleData (gal.winer@weizmann.ac.il).mat
Code/processingFunctions/g2Processing/extenedCycleData (gal.winer@weizmann.ac.il 3).mat
Code/processingFunctions/g2Processing/extenedCycleData (gal.winer@weizmann.ac.il 2).mat
Code/processingFunctions/g2Processing/Explaining G2 in cold atoms (ofer.firstenberg@weizmann.ac.il).pptx
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_t1_t2_MIT__Ti180000_Tf200000_Nphot4946256.fig
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti80000_Tf100000_Nphot4454976.mat
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti80000_Tf100000_Nphot4454976.fig
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti60000_Tf80000_Nphot4309871.mat
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti60000_Tf80000_Nphot4309871.fig
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti40000_Tf60000_Nphot4128647.mat
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti40000_Tf60000_Nphot4128647.fig
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti20000_Tf40000_Nphot3897024.mat
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti20000_Tf40000_Nphot3897024.fig
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti180000_Tf200000_Nphot4946256.mat
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti180000_Tf200000_Nphot4946256.fig
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti160000_Tf180000_Nphot4893203.mat
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti160000_Tf180000_Nphot4893203.fig
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti140000_Tf160000_Nphot4805271.mat
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti140000_Tf160000_Nphot4805271.fig
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti120000_Tf140000_Nphot4690483.mat
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti120000_Tf140000_Nphot4690483.fig
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti100000_Tf120000_Nphot4570085.mat
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti100000_Tf120000_Nphot4570085.fig
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti0_Tf20000_Nphot3591078.mat
Code/processingFunctions/g2Processing/CELLg2_MIT__bin0.02_tau0.3_Tdiv10_phPerCyc51809_bunch1-1of993/g2_MIT__Ti0_Tf20000_Nphot3591078.fig
Code/processingFunctions/g2Processing/.idea/inspectionProfiles/profiles_settings.xml
Code/processingFunctions/g2Processing/.idea/misc.xml
Code/processingFunctions/g2Processing/.idea/modules.xml
Code/processingFunctions/g2Processing/.idea/vcs.xml
Code/processingFunctions/g2Processing/.idea/workspace.xml
Code/Configurations/ProbePowerToSPCMCountRateCalibrationPData.mat
Code/Configurations/ProbePowerToSPCMCountRateCalibrationTTData.mat
